body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: bisque;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-left: 40%;
    margin-right: 40%;
}

.selectors{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}